* {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: large;
}

ul > li {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

#food-places {
  margin-top: 20px;
}

#food-places > li > div {
  display: inline-block;
}

.life {
  margin-top: 20px;
}

.tags, .band {
  color: #888;
  font-size: 9pt;
}

.b {
  font-weight: bold;
}

.note {
  font-size: 9pt;
  color: #666;
}

.ul {
  text-decoration: underline;
}

#home.hero {
  padding-bottom: 40px;
}

#home.hero .email {
  color: #666;
}

#home {
  padding-top: 100px;
}

#food {
  margin-top: 50px
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.accounts > ul {
  list-style: none;
  line-height: 1.15;
  padding-left: 0;
}

.accounts > ul > li {
  display: inline-block;
  margin-right: 30px;
}

a {
  text-decoration: none;
}

.left-image {
  float: left;
  margin-right: 50px;
}
